body{
    text-align: center;
    font-family: open sans, sans-serif;
    background-color: #BDB76B;
    color: #272C27;
    margin: 30px 0;
    
}

h1{
    font-size: 30px;
    font-weight: 300;
    color: #BE2D25;
}

h2{
    font-size: 27px;
    color: #BE2D25;
}

h3{
    font-size: 24px;
    font-style: italic;
    color: #BE2D25;
}

p{
    font-size: 16px;
    line-height: 1,5;
}

section{
    max-width: 80%;
    margin: 0 auto;
}

section section{
    max-width: 100%;
}

img{
    width: 40%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #D2691E;
    font-weight: 700;
    line-height: 2;
}

.menuprincipal a{
    color: #272C27;
    text-decoration: underline;
    font-weight: bold;
}

.menuprincipal{
    height: 40px;
    background-color: #CD853F;
    max-width: 80%;
    margin: 0 auto;
}

.menuprincipal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 2%;
}

button{
    background-color: #CD853F;
    border: transparent 1px solid;
    padding: 2px 20px;
    border-radius: 3px;
}
 